{% with {c:"header"} %}
<header class="{{c}}">
    <div class="container">
        <div class="{{c}}__logo">
            <img src="./assets/img/logo.svg" alt="logo">
        </div>
        <div class="{{c}}__menu">
            <ul>
                {% for item in header.desctop %}

                {% if item.submenu %}
                <li class="{{c}}__menu-item {{c}}__menu-item-submenu {{item.selected ? 'current' }}">
                    {{item.name}}
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.9467 5.45312H7.79335H4.05335C3.41335 5.45312 3.09335 6.22646 3.54668 6.67979L7.00002 10.1331C7.55335 10.6865 8.45335 10.6865 9.00668 10.1331L10.32 8.81979L12.46 6.67979C12.9067 6.22646 12.5867 5.45312 11.9467 5.45312Z"
                            fill="#303030" />
                    </svg>


                    <ul class="submenu">
                        {% for el in item.items %}
                        <li><a href="{{el.link}}">{{el.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="{{c}}__menu-item {{item.selected ? 'current' }}"><a href="{{item.link}}">{{item.name}}</a>
                </li>
                {% endif %}
                {% endfor %}


            </ul>
        </div>
        <div class="{{c}}__link">
            {% include '@root/includes/components/link-with-icon-tg.twig' with {
            text:'Support Wowchatter',
            link:'https://t.me/wowchatter'
            } %}
        </div>
        <div class="{{c}}__menu-mob">
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="nav nav-mobile">
    <ul class="nav-mobile__list">
        {% for item in header.items %}
        <li class="nav-mobile__list-item"><a href="{{item.link}}">{{item.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endwith %}