{% with {c:'card-outline'}%}
<div class="{{c}}">
    {{svg}}
    <div class="{{c}}__content">
        <div class="{{c}}__title">{{title}}</div>
        <div class="{{c}}__text">
            {{text}}
        </div>
    </div>

</div>
{% endwith %}