{% with {c:'card-digits'}%}
<div class="{{c}}">
    {{card.svg}}
    <div class="{{c}}__content">
        <div class="{{c}}__title">{{card.title}}</div>
        <div class="{{c}}__text">
            {{card.text}}
        </div>
    </div>

</div>
{% endwith %}